.deployments {
  padding: 4px 5px;
  width: 278px;

  background-color: #F3F3D1;
  border: 1px solid #A9ACB3;
  border-radius: 3px;
}

.deployments strong {
  font-weight: bold;
}

.activity.github .deployments {
  margin-top: 6px;
  width: 253px;
}